name: Release
on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  # Job: Create release
  release:
    name: Create release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      url: ${{ steps.create-release.outputs.url }}
    steps:
      - uses: actions/checkout@v6

      # Check if tag is valid
      - name: Check tag
        run: |
          if ! [[ ${{ github.ref }} =~ ^refs/tags/[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}$ ]]; then
            exit 1
          fi

      - name: Determine version
        id: get-version
        run: echo "version=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      # Create release
      - name: Create release
        id: create-release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ steps.get-version.outputs.version }} --generate-notes
          echo "url=$(gh release view ${{ steps.get-version.outputs.version }} --json url -q .url)" >> $GITHUB_OUTPUT
